<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'CSS/covicare.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/testutils.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />


    <title>Abhijeet Dhumal</title>
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
            background: #f1f1f1 !important;
        }

        .main_bar {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        img {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 6px;
            background-color: white;
        }

        .grayscale {
            filter: grayscale(100%);
        }

        .huerotate {
            filter: hue-rotate(180deg);
        }

        .card {
            color: white;
            background-color: #282c34;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;
        }

        .btn {
            background: #f7ba5b;
            color: black;
            border: 0px solid white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;
        }


        .grayscale:hover {
            opacity: 1;
        }

        a:hover button {
            background-color: #7abecc;
        }

        @media screen and (max-width:600px) {
            .intro {
                background: black;
            }

            #myimg {
                margin-left: 55vw;
            }
        }
    </style>
</head>

<body>
    {% load static %}

    <!-- navbar  -->
    <div class="container-fluid main_bar"
        style="height:60px;background-color: #20232a ;display:flex;flex-direction: column;flex-wrap: wrap;">
        <div>
            <h2 class="ml-3 mb-2 font1" style="margin-left: 7vw;color: #7abecc;font-size: revert;margin-top:20px;">
                <span><img src="{% static 'images/boy-face (1).png' %}" alt=""
                        style="background:#20232a;margin:-5px 10px 0 0;"></span> Abhijeet Dhumal
            </h2>
        </div>
        <div class="d-flex" style="padding-top: 5px;width:50vw;justify-content:flex-end;">
            <a href="{% url 'main_home' %}" class="mt-3 font3"
                style="margin-left:3vw;color:white;text-decoration:none;">About_Me</a>
            <a href="{% url 'portfolio' %}" class="mt-3 font2"
                style="margin-left:3vw;color:grey;text-decoration:none;">Portfolio</a>
            <a href="{% url 'resume' %}" class="mt-3 font2"
                style="margin-left:3vw;color:grey;text-decoration:none;">Resume</a>
            <a href="{% url 'abhi_contact' %}" class="mt-3 font2"
                style="margin-left:3vw;color:grey;text-decoration:none;">Contact</a>
        </div>
    </div>

    <!-- introduction -->
    <div class="container-fluid intro"
        style="height:80vh;position: inherit; background-color: #f1f1f1!important;margin-top:0;display:flex;flex-direction: column;flex-wrap: wrap;color:black;">
        <div class="col-md-4 grayscale image" style="width:500px;"><img id="myimg"
                src="{% static 'images/Abhijeet.jpg' %}" style="width:20vw;position: absolute;border-radius: 50%;background-blend-mode: darken; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:1px solid grey;padding:1vw;
        margin-top:10vh;margin-left:10vw;;" alt="">
        </div>
        <div class="container container-right col-md-7">
            <h2 class="name" style="font-family:sans-serif;;margin-left:25vw;margin-top:15vh;">Hii, I'm Abhijeet Dhumal
                _</h2>
            <h5 class="font-1" style="margin-left:25vw;margin-top:3vh;">An enthusiast, Web developer ,Programmer,
                Designer & an Enterpreneur...</h5>
        </div>
        <div class="container d-flex">
            <a href="#projects" class="btn getstarted font1"
                style="border:0px;background-color:black;color:white;border-radius:0px;margin-left:39vw;margin-top:5vh;width:140px;height:50px;padding-top:15px;font-size:18px;">Get
                Started</a>
            <h5 class="font1" style="color:black;border-radius:0px;margin-left: 3vw;margin-top: 7vh;
            width: 175px;">Contact ></h5>
        </div>
        <div class="container"
            style="display:flex;justify-content: flex-end;margin-top: 60vh; width:100%;position: absolute;">
            <img class="mx-2 my-3 shadow" src="{% static 'images/linkedin (4).png' %}"
                style="background-color:white;width:40px;" alt="linkedin_icon">
            <img class="mx-2 my-3 shadow" src="{% static 'images/instagram (4).png' %}"
                style="background-color:white;width:40px;" alt="facebook_icon">
            <img class="mx-2 my-3 shadow" src="{% static 'images/facebook (2).png' %}"
                style="background-color:white;width:40px;margin-right:5vw;" alt="facebook_icon">
        </div>
    </div>

    <!-- main content  -->
    <main>

        <!-- social media links  -->



        <hr class="featurette-divider" style="margin-bottom: 15px;">

        <!-- carousel part  -->
        <div style="background-color:#20232a" style="margin-top:130vh;justify-content: center;position: fixed;">
            <div class="col-md-8" style="margin:0 15vw 0 15vw;padding-top:30px;padding-bottom: 30px;">
                <div class="card card-body">
                    <div id="myCarousel" class=" container carousel slide my-3" data-bs-ride="carousel">
                        <!--carousel indicators  -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <!-- first carousel  -->
                            <div class="carousel-item active" style="height:40vh;">
                                <svg class="bd-placeholder-img" width="100%" height="100%"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#282c34" />
                                </svg>
                                <div class="container">
                                    <div class="carousel-caption text-start">
                                        <h2 class="name"
                                            style="font-family:sans-serif;margin-top:15vh;">Hii, I'm
                                            Abhijeet Dhumal
                                            _</h2>
                                        <h5 class="font-1" style="margin-top:3vh; margin-bottom:7vh;">An enthusiast, Web
                                            developer ,Programmer,
                                            Designer & an Enterpreneur...</h5>

                                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                                    </div>
                                </div>
                            </div>
                            <!-- second carousel  -->
                            <div class="carousel-item"  style="height:40vh;">
                                <svg class="bd-placeholder-img" width="100%" height="100%"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#282c34" />
                                </svg>

                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>Another example headline.</h1>
                                        <p>Some representative placeholder content for the second slide of the carousel.
                                        </p>
                                        <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                                    </div>
                                </div>
                            </div>
                            <!-- third carousel  -->
                            <div class="carousel-item"  style="height:40vh;">
                                <svg class="bd-placeholder-img" width="100%" height="100%"
                                    xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                                    preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <rect width="100%" height="100%" fill="#282c34" />
                                </svg>

                                <div class="container">
                                    <div class="carousel-caption text-end">
                                        <h1>One more for good measure.</h1>
                                        <p>Some representative placeholder content for the third slide of this carousel.
                                        </p>
                                        <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- left previous carousel indicator  -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <!-- right previous carousel indicator  -->
                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>



        <hr class="featurette-divider" style="margin-top: 24px;">

        <!-- projects part  -->
        <div class="container marketing" id="projects" style="background-color:#20232a">
            <button class="btn mb-3 font1"
                style="background-color:#7abecc;border-radius:0px;margin-left:1vw;margin-top:4vh;height:50px;"><b>Some
                    of my past projects</b></button>
            <hr class="text-light" style="margin:0 5px 15px 5px;">
            <div class="row my-1" style="margin-left:20vw;padding-bottom:5vh;">
                <!-- first project  -->
                <div class="col-md-4 mb-2">
                    <div class="card card-body">
                        <svg class="bd-placeholder-img" style="margin-top: -15px;margin-left: -16px;" width="260"
                            height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                                dy=".3em">140x140</text>
                        </svg>

                        <h2 class="my-3">E-library</h2>
                        <p>The user-friendly general reference tool—delivers general reference collections of books and
                            control on management of students lend ,customers order ,etc. Content designed to support
                            every range of user, including students, customers and professional educators.</p>
                        <p><a class="btn btn-secondary" href="/elibrary">View here &raquo;</a></p>
                    </div>
                </div>
                <!-- project 2  -->
                <div class="col-md-4 mt-1">
                    <div class="card card-body">
                        <svg class="bd-placeholder-img" style="margin-top: -15px;margin-left: -16px;" width="260"
                            height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                                dy=".3em">140x140</text>
                        </svg>

                        <h2 class="my-3">Covi-Care</h2>
                        <p>A website which will connect our covid warriors such as health care workers, ambulance
                            drivers volunteers to the people by connecting all we will definitely face covid 19
                            effectively</p>
                        <p><a class="btn btn-secondary" href="/covicare" style="margin-top: 43px;">View here
                                &raquo;</a></p>
                    </div>
                </div>
            </div>

        </div>

        <!-- remaining info part  -->
        <div class="container marketing">
            <hr class="featurette-divider" style="margin-top: 54px;">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your
                            mind.</span></h2>
                    <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                        prose here.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                            dy=".3em">500x500</text>
                    </svg>

                </div>
            </div>

            <hr class="featurette-divider" style="margin-top: 54px;">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                            yourself.</span></h2>
                    <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of
                        how this layout would work with some actual real-world content in place.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                            dy=".3em">500x500</text>
                    </svg>

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                    <p class="lead">And yes, this is the last block of representative placeholder content. Again, not
                        really intended to be actually read, simply here to give you a better view of what this would
                        look like with some actual content. Your content.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                            dy=".3em">500x500</text>
                    </svg>

                </div>
            </div>

            <hr class="featurette-divider">


        </div>


        <!-- FOOTER -->
        <footer class="container-fluid d-flex"
            style="background-color:#20232a;color:white;height:20vh;position:absolute;flex-direction: row;justify-content: center;">
            <div class="col-md-3 d-flex" style="flex-direction: column;justify-content: center;">
                <h4 class="font-4 mt-3" style="margin-left: 4vw;color:white;font-family:monospace;">@Abhijeet Dhumal
                </h4>
                <h5 style="color:white;font-family:monospace;">abhijeetarundhumal@gmail.com</h5>
            </div>
        </footer>
    </main>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
</body>

</html>